@use '../../../styles/mixins' as m;

.cv-skills {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  h2 {
    margin: 0;
  }

  .columns {
    @include m.two-col-to-one(var(--space-8), var(--space-6));
  }
}
