.cv-skills {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  h2 {
    margin: 0;
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-8);

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: var(--space-6);
    }
  }
}
