.cv-education {
  .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-8);

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: var(--space-6);
    }
  }

  dl dd {
    margin-left: 0;
    margin-bottom: var(--space-4);
    margin-top: var(--space-2);
  }
}
