@use '@/styles/mixins' as m;

.cv-education {
  h2 {
    margin: 0 0 var(--space-3);
  }

  .columns {
    @include m.two-col-to-one(var(--space-8), var(--space-6));
  }

  dl {
    dd {
      margin: var(--space-2) 0 var(--space-4);
    }
  }
}
