.cv-education {
  .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }

  dl dd {
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: .3rem;
  }
}


