.cv-education {
  h2 {
    margin: 0 0 var(--space-3);
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-8);

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: var(--space-6);
    }
  }

  dl {
    dd {
      margin: var(--space-2) 0 var(--space-4);
    }
  }
}
