.cv-experience {
  dl dd {
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: .3rem;
  }

  .muted {
    color: var(--color-text-muted);
  }

  .tags {
    margin-top: 0.5rem;

    .tag {
      display: inline-block;
      margin: .1rem .4rem .1rem 0;
      padding: .15rem .5rem;
      border: 1px solid var(--color-tag-border);
      border-radius: 999px;
      font-size: .85rem;
    }
  }
}
