.home-data {
  color: var(--color-home-ink);

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
  }

  h1 {
    font-size: calc(2.25vw + .5em);
    margin: 0;
    transition: opacity 1s ease-out, transform 1s cubic-bezier(0, 1, 0.6, 1);
    transform: translate(0px, 40px);
    opacity: 0;
  }

  h2 {
    font-size: calc(1.67vw + .5em);
    color: var(--color-home-accent);
    margin: 0;
    transition: opacity 1s ease-out, transform 1s cubic-bezier(0, 1, 0.6, 1);
    transform: translate(0px, 40px);
    opacity: 0;
  }

  .home-subtitle {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: var(--space-2);

    &__pdf {
      font-size: 0.85em;
      opacity: 0.8;
      border-bottom-style: dotted;
    }
  }

  a {
    color: var(--color-home-accent);
    border-bottom: 1px solid currentColor;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  .avatar {
    height: 100px;
    width: 100px;
    transition: opacity 1.5s ease-out, -webkit-transform 1.5s cubic-bezier(0, 0.6, 0.1, 1);
    opacity: 0;
    transform: translate(0px, 40px);
  }

  .contact {
    width: calc((1.5vw + 3em) * 3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s cubic-bezier(0, 1, 0.6, 1);
    transform: translate(0px, 40px);
    font-size: calc(1.2vw + .5em);
  }

  &.loaded {
    h1 {
      opacity: 1;
      transform: translate(0, 0);
    }

    h2 {
      transition-delay: 300ms;
      opacity: 1;
      transform: translate(0, 0);
    }

    .contact {
      transition-delay: 600ms;
      opacity: 1;
      transform: translate(0, 0);
    }

    .avatar {
      transition-delay: 2s;
      opacity: 1;
      transform: translate(0, 0);
    }
  }

}
