.cv-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  h1 {
    margin: 0;
  }
}

.contacts {
  margin: 0;
  font-size: .95rem;
  color: var(--color-text-subtle);

  span {
    margin-right: var(--space-3);
    display: inline-block;
    vertical-align: middle;
  }
}
