name: Deploy Vite to hoster.by (FTP) via pnpm

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Upload dist via FTP
        env:
          FTP_HOST: ${{ secrets.SFTP_HOST }}      # ftp.bvvell.ru
          FTP_USER: ${{ secrets.SFTP_USER }}      # gitbvvell@bvvell.ru
          FTP_PASS: ${{ secrets.SFTP_PASS }}
          REMOTE_DIR: ${{ secrets.REMOTE_DIR }}   # public_html (или .)
        run: |
          sudo apt-get update
          sudo apt-get install -y lftp
          lftp -e "
            set ftp:passive-mode true;
            set ftp:ssl-allow no;
            set net:max-retries 2;
            set net:timeout 20;
            open -u $FTP_USER,$FTP_PASS ftp://$FTP_HOST:21;
            pwd;
            ls;
            mirror -R --delete --verbose dist/ $REMOTE_DIR/;
            bye
          "
